.vs/
ipch/
*.ipch
*.iobj
*.pdb
*.ilk
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
*.user
*.suo
x64/
Debug/
Release/
Bin/
Obj/
*.pch
*.obj
*.ipch
*.iobj
*.pdb
*.ilk
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb

# Paquetes de entrega generados
entrega/
